<!-- Hello World !
<app-home></app-home> -->

<h1>Welcome Augular 12</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home Component</a></li>
    <li>
      <a routerLink="/about" routerLinkActive="active">About Component</a>
    </li>
    <li>
      <a routerLink="/templateform" routerLinkActive="active"
        >Template Driven Form Component</a
      >
    </li>
    <li>
      <a routerLink="/reactiveform" routerLinkActive="active"
        >Reactive Form Component</a
      >
    </li>
    <li>
      <a routerLink="/getdata" routerLinkActive="active">Get Data Component</a>
    </li>
    <li>
      <a routerLink="/postdata" routerLinkActive="active"
        >Post Data Component</a
      >
    </li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
